# Concatenating Data
First, import the necessary packages and load `clean_08.csv` and `clean_18.csv`.

In [1]:
# import numpy and pandas
import pandas as pd

# load 2008 and 2018 datasets
df_08 = pd.read_csv("clean_08.csv")
df_18 = pd.read_csv("clean_18.csv")

## Create Year Columns
Create two arrays as long as the number of rows in the 2008 and 2018 dataframes. Each array will repeat the value “2008” or “2018” corresponding with the DataFrame you are assigning. With pandas, you can easily do this by assigning a new column a single value, which it will replicate across all rows for the new column.

Note: If you had different values for each row in the new column, you'd have to assign the column an array the exact size as the DataFrame, but because we are only using one value, this is a nice little trick!

In [2]:
df_08['year'] = '2008'
df_08.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway,year
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no,2008
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no,2008
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no,2008
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes,2008
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes,2008

Do the same for the 2018 dataframe and use `head()` to confirm the change.

In [4]:
df_18['year'] = '2018'
df_18.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway,year
0,ACURA RDX,3.5,6,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20.0,28.0,23.0,5,No,2018
1,ACURA RDX,3.5,6,SemiAuto-6,4WD,Gasoline,small SUV,3.0,19.0,27.0,22.0,4,No,2018
2,ACURA TLX,2.4,4,AMS-8,2WD,Gasoline,small car,3.0,23.0,33.0,27.0,6,No,2018
3,ACURA TLX,3.5,6,SemiAuto-9,2WD,Gasoline,small car,3.0,20.0,32.0,24.0,5,No,2018
4,ACURA TLX,3.5,6,SemiAuto-9,4WD,Gasoline,small car,3.0,21.0,30.0,24.0,5,No,2018

## Combine DataFrames with Concatenate
Check the documentation for the [Pandas' concat](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) method and see if you can use this to figure out how to combine the dataframes. (Bonus: Why aren't we using the [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) method to combine the dataframes?) If you don’t get it, I’ll show you how afterwards. Make sure to save your work in this notebook! You'll come back to this later.

In [6]:
# concat dataframes
df = pd.concat([df_18, df_08])

In [7]:
# view dataframe to check for success
df.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway,year
0,ACURA RDX,3.5,6,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20.0,28.0,23.0,5,No,2018

In [8]:
df.tail(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway,year
986,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4.0,18.0,25.0,21.0,6,no,2008

## Save Combined Dataset
Save your newly combined dataframe as `clean_08_18_concatenated.csv`. Remember, set `index=False` to avoid saving with an unnamed column!

In [11]:
df.to_csv("clean_08_18_concatenated.csv")